
  @import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');


*{ padding: 0;
    margin: 0;
    font-family: 'Skranji', cursive;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 19px 12PX;
    font-size: 20px;

}

ul{
    display: flex;

}

ul li{
    list-style: none;
    padding: 2px 2px;}

ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 12px;

}

ul>li> a:hover{
    color:rgb(138, 99, 99)
}
main{
    min-height:100vh;

}
.logo img{
    
filter: invert(1);
width: 33px;
}

#resultCont div::first-letter{
    text-transform: uppercase;
}

footer{
    font-size: 12px;
    background-color: black;color:  white;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    
    max-width: 80vh;
    margin: auto 0px;
    padding: 10px 180px;
}
.container h1{
    padding: 30px 0px;
}
input[type='text']
{
    min-width: 23vw;
    padding: 3px 12px;
    border: 2px solid black;
    border-radius: 4px ;
    font-size: 17px;
}

.btn{
    font-weight: 700;
    font-size: 17px;
    background: rgb(16, 14, 14);
    color: white;
    padding: 5px 14px;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Baloo Bhai 2', cursive;

}
.btn:hover{
    background: rgb(191, 98, 98);
    color: black;
}
@media only screen and (max-width:600px) {
    
    .container{
        font-size: 12px;
        padding: 10px 20px;
    }
    nav{
        flex-direction: column;
    }
    .logo{
        padding: 6px 0;
    }

.logo span{
    font-size: 20px;
}   
 .logo img{

    filter: invert(1);
    width: 18px;
}
ul li a{
    color: white;
    text-decoration: none;
    padding: 2px 2px;
    font-size: 16px;
    

}

input[type='text']
{
    width: 68vw;
    text-align: center;
    font-size: 14px;
    
}
    }
